<h1>About</h1>

<div class="card center-block" style="width: 18rem;">
  <%= image_tag '12445_color.png', :size => '200x160'%>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>