<h1>ヘルプ</h1>
<div class="card center-block" style="width: 25rem;">
  <%= image_tag 'komatta.png', :size => '300x260'%>
  <div class="card-body">
    <h5 class="card-title">困ったことがあれば<a href="https://twitter.com/takehirodesuyo" target="_blank" rel="noopener noreferrer">こちら</a>まで</h5>
    <a href="https://twitter.com/takehirodesuyo" target="_blank" rel="noopener noreferrer" class="btn btn-primary">HELP HELP HELP HELP</a>
  </div>
</div>
